header {
  top: 0;
  width: 100%;
  height: 10vh;
  padding: 0 1%;
  box-shadow: 0 1px 5px rgba(var(--shadow-rgb), 0.2),
    0 10px 10px rgba(var(--shadow-rgb), 0.2);
}
nav {
  position: sticky;
  z-index: 10;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo_holder {
  width: clamp(15%, 20vw, 20%);
}
.logo_holder_link {
  display: flex;
  align-items: center;
}
.logo_holder_link img {
  width: clamp(100px, 20vw, 250px);
}

/* nav menu */
.nav_menu_holder {
  width: clamp(40%, 30vw, 70%);
  display: flex;
  justify-content: center;
}
.nav_menu {
  width: clamp(50%, 47vw, 100%);
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.nav_menu li {
  font-size: clamp(0.7rem, 1.5vw, 1.1rem);
  display: flex;
  flex-direction: column;
}
.nav_menu li.active {
  background: var(--gradientText);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.nav_menu li:hover {
  transition: color 0.5s ease;
  background: var(--gradientText);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0.66;
}
.nav_menu li hr {
  border: none;
  width: 60%;
  height: 1.5px;
  align-self: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  position: relative;
}
li hr::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100px;
  background: var(--gradientText);
  z-index: 10;
}
.nav_menu li hr.active {
  opacity: 1;
  visibility: visible;
}

/* icon holders */
.nav_icons {
  height: 50%;
  width: clamp(20%, 20vw, 40%);
  display: flex;
  justify-content: end;
}
.icon_holder {
  display: flex;
  justify-content: end;
  align-items: end;
  width: clamp(50%, 35vh, 100%);
  padding: 1%;
}
.icon_holder .icon,
.cart .icon {
  width: clamp(35px, 6vw, 45px);
  aspect-ratio: 3/2;
  object-fit: contain;
  cursor: pointer;
}
.profile_menu_holder {
  display: flex;
  justify-content: center;
  position: relative;
}
.arrow_holder {
  position: absolute;
  height: 125px;
  width: 21vh;
  top: 2.3rem;
  right: -1.2rem;
  border-radius: 10px;
  z-index: 2;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}
.arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0.3rem;
  right: 2rem;
  background: rgb(241 245 249);
  transform: translateY(-50%) rotate(45deg);
  box-shadow: rgba(0, 0, 0, 0.4) 0px -2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}
/* profile menu */
.profile_menu {
  list-style: none;
  height: 125px;
  width: 21vh;
  background: rgb(241 245 249);
  color: rgb(85, 91, 103);
  position: absolute;
  top: 2.3rem;
  right: -1.2rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}
.profile_menu li {
  width: 100%;
  height: 33%;
  padding: 10px 20px;
  cursor: pointer;
}
.profile_menu_holder:hover .arrow,
.profile_menu_holder:hover .arrow_holder,
.profile_menu_holder:hover .profile_menu {
  opacity: 1;
  visibility: visible;
}
.profile_menu li:hover {
  background: var(--gradientDark);
  opacity: 0.5;
  color: white;
  border-radius: 5px;
}
.cart {
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.dot {
  font-size: 13px;
  text-align: center;
  border-radius: 50%;
  width: 2.7vh;
  height: 2.7vh;
  background-color: var(--borderBlack);
  color: var(--borderGrey);
  position: absolute;
  bottom: -7px;
  right: 2px;
}
.toggle_container {
  position: relative;
}
.checkbox {
  display: none;
}
.toggle_label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vh;
  height: 4vh;
  background: linear-gradient(to right, #cfdbf869, #dbcff869);
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}
.toggle_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5vh;
  height: 3.5vh;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transition: transform 0.3s ease;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: translateX(-5px);
}
.checkbox:checked + .toggle_label {
  background: #212121;
}
.checkbox:checked + .toggle_label .toggle_icon {
  transform: translateX(30px);
}
.checkbox:checked + .toggle_label img {
  transform: translateX(-30px);
}
.toggle_label img {
  transform: translateX(2px);
  width: clamp(20px, 3vh, 35px);
  padding-bottom: 2px;
}
.icon_holder .nav_dropdown {
  display: none;
}

/* nav  menu for mobile screens */
.dropdown_menu_holder {
  position: absolute;
  top: 0;
  right: 0;
  left: -1vw;
  z-index: 10;
  width: 0;
  height: 100vh;
  background: var(--background-color);
  color: var(--greyText);
  overflow: hidden;
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 500;
  transform: translateX(100%);
  transition: all 0.2s linear;
}
.dropdown_menu_holder.on {
  transform: translateX(0);
  width: 100vw;
  transition: all 0.2s linear;
}
.back_btn {
  gap: 10px;
  display: flex;
  align-items: center;
  padding: 2vh 0;
  cursor: pointer;
  border-bottom: 1.5px solid var(--borderGrey);
}
.back_btn img {
  aspect-ratio: 3/2;
  object-fit: contain;
  width: clamp(1rem, 4vh, 3rem);
  transform: rotate(180deg);
}
.dropdown_menu {
  list-style: none;
}
.dropdown_menu li {
  border-bottom: 1.5px solid var(--borderGrey);
  cursor: pointer;
  position: relative;
  padding: 3.5vh 1vh;
}
.dropdown_menu li a {
  padding: 2vh 1vh;
  position: absolute;
  padding: 10px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: block;
}
.dropdown_menu li.active {
  background-color: var(--borderBlack);
  color: var(--borderGrey);
}

@media (max-width: 750px) {
  .icon_holder {
    gap: 15px;
  }
  .toggle_label {
    height: 3.5vh;
    width: 8vh;
  }
  .toggle_icon {
    width: 3vh;
    height: 3vh;
  }
  .checkbox:checked + .toggle_label .toggle_icon {
    transform: translateX(25px);
  }
  .checkbox:checked + .toggle_label img {
    transform: translateX(-25px);
  }
}
@media (max-width: 580px) {
  .nav_menu_holder {
    display: none;
  }
  .icon_holder .nav_dropdown {
    display: block;
  }
  .logo_holder {
    width: 50%;
  }
  .nav_icons {
    width: 50%;
  }
}
